{
  "*/**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "eslint",
    "jest --testPathIgnorePatterns='<rootDir>/.storybook/'"
  ],
  "*/**/*.{json,css,md}": [
    "prettier --write"
  ]
}
